@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN";
  src: url("{{ url_for('static', filename='fonts/DIN Medium.ttf') }}");
}  

.bg {
  background-image: url('../../bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
