@tailwind base;
@layer base {
  img {
    @apply inline-block;
  }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root, body, html {
  height: 100%;
}

.BG {
  background-image: url('/bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Blur-BG {
  background-image: url('/blur-bg.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.black-blur {
  background-color: rgba(0, 0, 0, 0.3);
}


@font-face {
  font-family: "DIN";
  font-style: normal;
  font-weight: 400;
  src: url("/DIN.ttf");
}  


