<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Rail</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/character.css') }}"
    />
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="team">
      <a href="{{ url_for('profile', uid=uid) }}">
        <img src="{{asset_url}}/icon/sign/TeamIcon.png" alt="Team Icon" />
      </a>
    </div>
    <div class="profile">
      <div class="details">
        <div class="left">
          <div class="char">
            <div class="row">
              <div class="name">{{data[chara].name}}</div>
              <img
                src="{{asset_url + data[chara].element_icon}}"
                alt="{{data[chara].element.name}}"
                class="element-icon"
              />
            </div>
            <div class="row">
              <div class="path">
                <img
                  src="{{asset_url + data[chara].path_icon}}"
                  alt="Path"
                />{{data[chara].path}}
              </div>
            </div>
            <div class="eidolon">Eidolon {{data[chara].rank}}</div>
            <div class="lvl">Lv. {{data[chara].level}}</div>
          </div>
          <div class="char-stats">
            {% for stat in data[chara].property %}
            <div class="stat-line">
              <div class="stat-name">
                <img src="{{asset_url + stat.icon}}" alt="{{stat.name}}" />
                {{stat.name}}
              </div>
              {% if stat.addition is none %}
              <div class="stat-value">{{stat.base}}</div>
              {% else %}
              <div class="stat-value">
                {{stat.base|int + stat.addition|int}}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <hr />
          <div class="lightcone">
            Lightcone
            <hr />
            <img
              src="{{asset_url}}image/light_cone_preview/{{data[chara].light_cone.icon.split('/')[-1]}}"
              alt="Lightcone"
            />
            <div class="lightcone-name">{{data[chara].light_cone.name}}</div>
            <div class="lightcone-level">
              Lv. {{data[chara].light_cone.level}}
            </div>
            <div class="lightcone-rank">
              Superimposition {{data[chara].light_cone.rank}}
            </div>
          </div>
        </div>
        <div class="middle">
          <div class="character-portrait">
            <img
              src="{{asset_url + data[chara].portrait}}"
              alt="{{data[chara].name}}"
            />
          </div>
          <hr />
          Skills
          <hr />
          <div class="skills">
            {% for skill in data[chara].skill %}
            <div class="skill">
              <img src="{{asset_url + skill.icon}}" alt="{{skill.name}}" />
              <div class="skill-level">{{skill.level}}</div>
              <div class="skill-type">{{skill.type}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="right">
          <div class="relics">
            {% for relic in data[chara].relic.values() %}
            <div class="relic">
              <div class="relic-icon">
                <img src="{{asset_url + relic.icon}}" alt="{{relic.name}}" />
                <div class="rarity">
                  <img
                    src="{{asset_url}}icon/deco/Star{{relic.rarity}}.png"
                    alt="{{relic.rarity}}"
                  />
                </div>
                <div class="relic-lvl badge">+{{relic.level}}</div>
              </div>
              <div class="stats">
                <div class="main-stat-line">
                  <div class="main-stat-name">
                    <img
                      src="{{asset_url + relic.main_property.icon}}"
                      alt="{{relic.main_property.name}}"
                      class="stat-icon"
                    />{{relic.main_property.name}}
                  </div>
                  <div class="main-stat-value">
                    {{relic.main_property.value}}
                  </div>
                </div>

                {% for substat in relic.sub_property %}
                <div class="substat-line">
                  <div class="substat-name">
                    <img
                      src="{{asset_url + substat.icon}}"
                      alt="{{substat.name}}"
                      class="stat-icon"
                    />{{substat.name}}
                  </div>
                  <div class="substat-value">{{substat.value}}</div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="relic-set">
            <hr />
            Relic Set
            <hr />
            {% for set in data[chara].relic_set %}
            <div class="set">
              <div class="row">
                <div class="set-name">{{set.name}}</div>
                <div class="set-desc">{{set.desc}}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
