<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Rail</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <div class="bg-image"></div>

    <div class="profile">
      <h1>Trailblazer Profile</h1>
      <form method="get" action="/profile" class="form">
        <input type="text" name="uid" placeholder="Enter UID" />
        <input type="submit" value="Search" class="search-btn" />
      </form>
    </div>
  </body>
</html>
