<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Rail</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/profile.css') }}"
    />
  </head>
  <body>
    <div class="bg-image"></div>

    <div class="profile">
      <div class="icon">
        <img src="{{asset_url + data.player.icon}}" alt="profile picture" />
      </div>
      <div class="nickname">{{data.player.name}}</div>
      <div class="info">
        <div class="trailblaze-level">
          <div class="heading">Trailblaze Level</div>
          <div class="value">{{data.player.level}}</div>
        </div>
        <div class="world-level">
          <div class="heading">Equilibrium Level</div>
          <div class="value">{{data2.player.world_level}}</data></div>
        </div>
      </div>
      <hr>
      {% set count = namespace(value=0) %}
      {% for character in data.characters %}
      <a href="{{ url_for('character', chara=count.value) }}">
        <div class="character">
          <img src="{{asset_url + character.preview}}" alt="{{character.name}}" />
          <div class="description">
            <div class="name">{{character.name}}</div>
            <div class="lvl">Lv. {{character.level}}</div>
          </div>
        </div>
      </a>
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </div>
  </body>
</html>
