@font-face {
  font-family: "DIN";
  src: url("{{ url_for('static', filename='fonts/DIN Medium.ttf') }}");
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "DIN";
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url("/static/bg.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  position: absolute;
  top: 0;
  right: 0;
}

.team img {
  width: 64px;
  height: 64px;
}

.save {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.save img {
  width: 64px;
  height: 64px;
}

.profile {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 95%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  width: 25%;
  font-size: 1.3em;
}

.middle {
  width: 35%;
  margin: 15px;
  font-size: 1.3em;
}

.right {
  width: 40%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-portrait img {
  max-width: 600px;
  height: auto;
}

.name {
  font-size: 2em;
}

.info,
.lvl {
  margin: 0;
  font-size: 24px;
}

.icon img {
  border: black 2px solid;
  border-radius: 4rem;
}

.lightcone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.relics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  width: 100%;
}

.relic {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 2px;
  border-radius: 1rem;
  padding: 10px;
}

.relic-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relic-icon img {
  width: 6em;
}

.relic-set {
  width: 50%;
}

.stats {
  justify-content: center;
  width: 100%;
}

.main-stat-line {
  font-size: 1.15em;
}

.main-stat-line,
.substat-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.main-stat-line img,
.substat-line img {
  height: 1.3em;
  width: auto;
}

.main-stat-name,
.substat-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-stat-line {
  color: gold;
}

.char-stats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.char-stats img {
  height: 1.3em;
  width: auto;
}

.stat-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px;
}

.stat-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row,
.path {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row img {
  height: 2.5em;
  width: auto;
}

.badge {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 2rem;
  border: 1px solid white;
  margin-top: 5px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills img {
  width: 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.element-icon {
  height: 2em;
  width: auto;
}